* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
  color: #FFFFFF;
}

body {
  background:
    linear-gradient(to bottom right, rgba(232, 0, 0, .2), rgba(232, 0, 0, .05) 90%),
    linear-gradient(to bottom left, rgba(200, 80, 176, .2), rgba(200, 80, 176, .05) 90%),
    linear-gradient(to top right, rgba(3, 13, 22, 0.6), rgba(3, 13, 22, 0.6) 90%),
    linear-gradient(to top left, rgb(87, 8, 82, 1), rgba(87, 8, 82, 1) 90%);
  background-color: #4D0026;
  height: 100vh;
  margin: 1%;
  padding: 2.5%;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  margin-top: auto;
  align-self: baseline;
  max-width: 100vw;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1vmin 2vmax;
  max-width: 80vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

.nav {
  width: 100vw;
}

.img-content img {
  height: 30vh;
  width: 80vw;
}

.perfumes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.perfumes-container img {
  height: 15vh;
  width: 18vw;
}

a:link {
  color: #FFFFFF;
}

a:visited {
  color:rgb(88, 219, 27);
}

a:hover,
a:focus {
  color:rgb(27, 219, 219);
  cursor: pointer;
}

a:active {
  color:rgb(223, 163, 95);
}
