* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
  color: #FFFFFF;
}

body {
  background:
    linear-gradient(to bottom right, rgba(232, 0, 0, .2), rgba(232, 0, 0, .05) 90%),
    linear-gradient(to bottom left, rgba(200, 80, 176, .2), rgba(200, 80, 176, .05) 90%),
    linear-gradient(to top right, rgba(3, 13, 22, 0.6), rgba(3, 13, 22, 0.6) 90%),
    linear-gradient(to top left, rgb(87, 8, 82, 1), rgba(87, 8, 82, 1) 90%);
  background-color: #4D0026;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  flex-shrink: 0;
  width: 100%;
  align-self: end;
}

.info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 1 1;
  gap: 1vh;
}

.socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 1 1;
  gap: 2vw;
  margin: 2.5%;
}

main {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 1vmin 2vmax;
  max-width: 80%;
  margin: 0.5%;
  padding: 0.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

.nav {
  width: 100%;
  padding: 1% 0%;
}

nav {
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.img-content img {
  height: 30vh;
  width: 80vw;
}

.perfumes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.perfumes-container img {
  height: 15vh;
  width: 18vw;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 15%;
}

.news-research a {
  background-color: #C850B0;
  box-shadow: 0 5px 0 #0E3659;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: capitalize;
}

.news-research a:hover,
.news-research a:focus {
  background-color: #1E73BE;
}

.news-research a:active {
  box-shadow: none;
  top: 5px;
}

.nav a,
footer a {
  text-decoration: none;
  font-weight: 700;
}

a:link {
  color: #FFFFFF;
}

a:visited {
  color:rgb(200, 255, 0);
}

a:hover,
a:focus {
  color:rgb(7, 241, 222);
  cursor: pointer;
}

a:active {
  color:rgb(182, 165, 230);
}

form {
  justify-self: center;
}

input,
textarea {
  color: black;
}

fieldset {
  display: flex;
  flex-flow: column nowrap;
  gap: 1vh;
}

fieldset label::after {
  content: ":";
}

.checkbox::after {
  content: "";
}

#review-submit {
  background-color: #1E73BE;
}

/* Scrollbar styling */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #BEBEBE black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #BEBEBE;
  border-radius: 20px;
  border: 1.5px solid #B8005C;
}
